.PageLoader{
    width:100%;
    height:100vh;
    background-color:black;
    position: absolute;
    z-index:345;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    user-select:none;
}
